.gridcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.griditem{
    
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    /* background-image: url(https://a-static.besthdwallpaper.com/itachi-black-and-white-wallpaper-1680x1050-87897_5.jpg);
    background-size: cover; */
    color:  rgb(8, 8, 8);
    text-align: left;
    font-style: italic;
}


@media (max-width:950px) {
    .gridcontainer{
        display: flex;
        flex-direction: column;
    }
}